.jumbotron {
  background-image:url('images/bus-header.jpeg');
  background-position:bottom center;
  background-size:cover;
  background-position-y:50%;
}
.jumbotron p {
  background-color:rgba(255, 255, 255,.5);
  border-radius: 2em;
  padding:1em;
}
.display-4 {
  color:black;
}
#tiff {
  background-color: #fad2e1;
  border-radius: 2em;

}
figure {
  padding:10px;
}
#gold {
  background: #fdc500;
}
#pink {
  background:#fad2e1;
}
#bronze {
  background:#926c15
}
#packages .p-3{
  border-radius: 2em;
}
#packages button {
  display: flex;
  margin:1em auto;
}
.p-3 > ul > li:first-of-type {
font-weight: bold;
font-size:2em;
list-style-type:none;
text-align:center
}
.p-3 h3 {
  text-align: center;
}
.active {
  font-weight: bold;
}
body {
  background:url('images/bus-bg.jpeg');
  background-size:cover;
}
.bq {
  background-color:rgba(255, 255, 255,.8);
  border-radius: 2em;
  padding: 1em;

}